//Functional colors - CHARTING
$midnight-blue: #0b121c;
$main: $midnight-blue;
$color-white: #fff;
$text-color: $color-white;
$light-blue: #03e9f4;

//Functional colors - TRAFFIC LIGTHS
$color-red: #eb0000;
$color-flamingo: #f14444;
$color-carnation: #f36666;
$color-rose-bud: #f79999;
$color-cinderella: #fbcccc;

$color-buttercup: #f29e1a;
$color-casablanca: #f5b148;
$color-rajah: #f7c576;
$color-corvette: #fad8a3;
$color-double-pearl-lusta: #fcecd1;

$color-crusoe: #014c0c;
$color-japanese-laurel: #078a04;
$color-Apple: #38A236;
$color-Fern: #6AB968;
$color-Moss-Green: #9CD09B;
$color-Zanah: #CDE8CD;

// TINTS
$color-sat-50: #F3F8FE;
$color-sat-100: #DFE6EF;
$color-sat-200: #C9D2DF;
$color-sat-300: #B3C0D3;
$color-sat-400: #9FB0C7;
$color-sat-500: #7B90AE;
$color-sat-600: #5C7495;
$color-sat-700: #425A7C;
$color-sat-800: #2B4362;
$color-sat-900: #1A2E49;
$color-sat-1000: #0D1C30;
